
h1{
    text-align: center;
    color: darkslategrey;
    font-family: verdana;
    font-size: 200%;
    font-weight: bold;
}

body {
    background-color: white;
    }

form{
    text-align: center;
    font-family: verdana;
    font-size: 100%;
    font-weight: bold;
}

form input{
    text-align: left;
    font-family: verdana;
    font-size: 100%;
    font-weight: normal;
    color:grey
}

form input:focus{
    color:black
}

form input#s01{
    text-align: left;
    font-family: verdana;
    font-size: 100%;
    font-weight: bold;
    color:black
}